<script type="text/html" id="comment_template">
  <p class="timestamp">Posted by <span data-bind="text: user"></span></p>
  <span class="body" data-bind="text: body"></span>
  <a href="#" class='deleteButton' data-bind="click: function() { $parent.deleteComment($data) }">Delete Comment</a>
</script>