<div class="comment_wrapper" data-bind="visible: show_new_comment" >
  <h3 data-bind="text: errorMessage"></h3>
  <form id="form">
    <div class="field">
      <label for="comment_body">New Comment</label><br />
      <input id="comment_body" data-bind="value: temp_comment.body" />
    </div>
    <div class="actions">
      <button data-bind="click: function() { addComment() }">Create Comment</button>
    </div>
  </form>
</div>