<li>
  <span><%= link_to group.name, group_path(group), :class => 'title' %></span>
  <span class="timestamp">founded <%= group.created_at.to_formatted_s(:long_ordinal) %></span>
  <span class="description"><%= group.description %></span>
</li>