<% if @user.groups.any? %>
  <h1> Your groups:</h1>
  <ol class="groups"><%= render @groups%></ol>
<% end %>

<br>
<% if user_signed_in? %>
<%= link_to 'New Group', new_group_path, :class => "navButton" %>
<% end %>