<% if @user.posts.any? %>
  <h1><%= @user.email %>'s Posts</h1>
  <ol class="posts"><%= render @posts%></ol>
<% end %>

<br>
<% if user_signed_in? %>
<%= link_to 'New Post', new_post_path, :class => "button" %>
<% end %>