// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.groups {
  list-style: none;
  margin: 20px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 2px solid #e8e8e8;
  }
}