// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {
  list-style: none;
  margin: 20px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 2px solid #e8e8e8;
  }
}

.title {
  font-family: Verdana;
  font-weight: bold;
  font-size: 18pt;
  text-decoration: none;
}

.body {
  display: block;
}

.timestamp {
  color: #939393;
  display: block;
  padding: 0 0 10px 0;
}

.button {
  border: solid 1px #000;
  background-color: #dcdcdc;
  padding: 10px;
  text-decoration: none;

  &:hover {
    
  }
}